section:first-child  div:nth-child(1),
section:first-child  div:nth-child(2),
section:first-child  div:nth-child(3),
section:first-child  div:nth-child(4),
section:first-child  div:nth-child(5)
section:nth-child(2),
section:nth-child(3) {
  background: #fdfaeb;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section:first-child > div:nth-child(3) {
  justify-content: space-between;
}

section:first-child > div:nth-child(3){
  width: calc(95% + 20px);
  border: none;
  padding: 0;
}

section:first-child > div:nth-child(3) > div:first-child {
  width: calc(30%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

section:first-child > div:nth-child(3) > div:first-child > div:first-child,
section:first-child > div:nth-child(3) > div:first-child > div:nth-child(3) {
 min-height: 20px;
}

section:first-child > div:nth-child(3) > div:first-child > div:nth-child(2) {
  min-height: 50px;
}

section:first-child > div:nth-child(3) > :nth-child(2) {
  width: 60%;
  height: 20vh;
  margin: 0;
}

section:first-child > div:nth-child(3) > div:first-child * {
  width: calc(100% - 20px);
  margin: 0;
  align-items: center;
}

section:first-child > div:nth-child(4){
  width: calc(95%);
  flex-direction: column;
  align-items: center;
}

 section:nth-child(2) > div:nth-child(3),
 section:nth-child(2) > div:nth-child(4) {
   width: 95%
 }

 section:nth-child(3) {
  background: #eeeeee
}